.container {
  background-color: hsl(0deg 7% 85%);
  border: 1px solid hsl(0deg 7% 85%);
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'left-center right-center right-center' 'left-bottom left-bottom right-bottom';
  margin-top: 10px;
  padding: 10px;
}

.datetime-input {
  background-color: hsl(46deg 98% 49%);
  border: none;
  color: hsl(0deg 0% 0%);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.datetime-label {
  margin-right: 10px;
  margin-top: 10px;
}

.dataTime-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.my-button {
  background-color: hsl(120deg 100% 25%);
  border: 2px solid hsl(0deg 0% 20%);
  color: hsl(0deg 0% 20%);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
}

.my-button:hover {
  background-color: hsl(0deg 0% 93%);
}

.my-button:hover::after {
  background-color: hsl(0deg 0% 20%);
  color: hsl(0deg 0% 100%);
  content: attr(title);
  display: block;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.my-button:disabled {
  background-color: hsl(0deg 100% 50%);
  border: none;
  color: hsl(0deg 0% 0%);
  cursor: not-allowed;
}

.all-Buttons-disabled:disabled {
  background-color: hsl(120deg 100% 25%);
  border: 5px solid hsl(46deg 98% 49%);
  border-radius: 10px;
  color: hsl(0deg 0% 0%);
  cursor: not-allowed;
}

.wrapperToolTip {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.square {
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.square-available {
  background-color: hsl(120deg 100% 25%);
}

.square-not-available {
  background-color: hsl(0deg 100% 50%);
}

.square-selected {
  background-color: hsl(120deg 100% 25%);
  border: 2px solid hsl(46deg 98% 49%);
}

.wrapperAvailable {
  display: inline-block;
  margin-right: 10px;
}

.wrapperNotAvailable {
  display: inline-block;
  margin-right: 10px;
}

.wrapperSelected {
  display: inline-block;
}

.btn-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.confirm-btn {
  background-color: hsl(46deg 98% 49%);
  border: none;
  border-radius: 10rem;
  color: hsl(0deg 0% 0%);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 20px;
}

.confirm-btn:hover {
  background-color: hsl(0deg 0% 20%);
}

.cancel-btn {
  background-color: hsl(0deg 0% 80%);
  border: none;
  border-radius: 10rem;
  color: hsl(0deg 0% 0%);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}

.cancel-btn:hover {
  background-color: hsl(0deg 0% 87%);
}
